.cityInfo {
  /* border: 1px solid red; */
  margin: 20px auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Josefin Sans';
}

.cityInfo * {
  margin: 5px 0px;
}

.cityInfo h2 {
  font-weight: 700;
  font-family: 'Playfair Display';
}

.card {
  margin-bottom: 1rem;
  display: flex;
}

.cardImage {
  flex: 100%;
  margin-top: 1rem;
  border-radius: 10px;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.cardList {
  column-count: 3;
}

@media only screen and (max-width: 600px) {
  .card-list {
    column-count: 1;
  }
}
