* {
  font-weight: 300;
}

.header {
  background-color: var(--color5);
  font-family: 'Josefin Sans';
  display: flex;
  justify-content: space-between;
}

.nav {
  list-style: none;
  display: flex;
  margin: 10px;
  padding: 0px;
}

.nav li {
  margin: 5px;
}

.nav li:hover {
  text-decoration: underline;
  text-underline-offset: 5px;
}

a {
  text-decoration: none;
  color: var(--color3);
}
