.slidecontainer {
  width: 80%; /* Width of the outside container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  max-width: 500px;
}

.slidecontainer label {
  font-size: 1.2rem;
}

.slidecontainer input {
  width: 100%;
}

.slidecontainer button {
  margin: 15px 0px;
}

@media screen and (min-width: 1400px) {
  .slidecontainer {
    margin-left: 50px;
  }
}
