.slidecontainer {
  width: 100%; /* Width of the outside container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;
  max-width: 500px;
}

.slidecontainer label {
  font-size: 1.2rem;
}

.slidecontainer input {
  width: 100%;
}

.slidecontainer button {
  margin: 15px 0px;
}

/* The slider itself */
.slider {
  -webkit-appearance: none; /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

@media screen and (min-width: 1400px) {
  .slidecontainer {
    margin-left: 50px;
  }
}
