.travelersForm {
  width: 80%;
  background: white;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Playfair Display';
}

.travelersForm p {
  margin: 10px;
}

.travelersForm button {
  margin: auto;
}

.formSection {
  width: 70%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.formSection input {
  font-family: 'Josefin Sans';
  font-size: 1.2rem;
  padding: 10px;
  margin: 5px;
}

.buttonSection {
  margin: 0, auto;
}

button {
  background-color: var(--color1);
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Josefin Sans';
  border: 3px solid var(--color3);
  border-radius: 5px;
  color: white;
}

button:hover {
  background-color: var(--color3);
}

.buttonSection button {
  position: relative;
  left: 50px;
  bottom: 15px;
  margin: auto;
}

.addButton {
  font-family: 'Helvetica';
  font-weight: 500;
  font-size: 1.8rem;
  padding-left: 50px;
  position: relative;
  bottom: 20px;
}

.removeButton {
  font-family: 'Helvetica';
  font-weight: 500;
  font-size: 1.8rem;
  padding-left: 50px;
  position: relative;
  right: 44px;
  bottom: 10px;
}

.addButton:hover {
  cursor: pointer;
  color: var(--color1);
}

.removeButton:hover {
  cursor: pointer;
  color: var(--color1);
}

.disclaimer {
  font-size: 0.6rem;
}

@media screen and (min-width: 440px) {
  .travelersForm {
    width: 65%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 800px) {
  .travelersForm {
    width: 40%;
    position: absolute;
    left: 90px;
    top: 250px;
    font-size: 0.8rem;
  }

  .formSection {
    width: 60%;
    font-size: 0.8rem;
    flex-direction: column;
  }
}

@media screen and (min-width: 1450px) {
  .formSection {
    width: 80%;
    font-size: 0.8rem;
    flex-direction: row;
    align-items: center;
  }

  .removeButton {
    position: absolute;
    bottom: 150px;
    right: 20px;
  }
}

@media screen and (min-width: 1650px) {
  .removeButton {
    position: absolute;
    bottom: 150px;
    right: 80px;
  }
}
