.travelersForm {
  width: 80%;
  background: rgba(255, 255, 255, 0.822);
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  font-family: 'Playfair Display';
  max-height: 75%;
  overflow-y: scroll;
}

.travelersForm p {
  margin: 10px;
}

.travelersForm button {
  margin: auto;
}

.formSection {
  width: 70%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}

.formSection input {
  font-family: 'Josefin Sans';
  font-size: 1.2rem;
  padding: 10px;
  margin: 5px;
}

.formSection:nth-last-of-type(2) {
  margin-bottom: 0px;
}

.buttonSection {
  width: 70%;
  margin: 0px auto;
  padding-left: 20px;
  /* margin-left: 55px; */
}

button {
  background-color: var(--color1);
  padding: 10px;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: 'Josefin Sans';
  border: 3px solid var(--color3);
  border-radius: 5px;
  color: white;
}

button:hover {
  background-color: var(--color3);
}

.buttonSection button {
  /* position: relative;
  left: 50px;
  bottom: 15px; */
  margin: 12px auto 4px auto;
}

.addButton {
  font-family: 'Helvetica';
  font-weight: 500;
  font-size: 1.8rem;
  /* margin-left: 55px; */
  display: block;
  /* position: relative;
  bottom: 20px; */
}

.removeButton {
  font-family: 'Helvetica';
  font-weight: 700;
  font-size: 1.4rem;
  /* padding-left: 50px; */
  /* position: relative;
  right: 44px;
  bottom: 10px; */
  margin: 0px 0px 8px 8px;
}

.addButton:hover {
  cursor: pointer;
  color: var(--color1);
}

.removeButton:hover {
  cursor: pointer;
  color: var(--color1);
}

.disclaimer {
  font-size: 0.6rem;
}

@media screen and (min-width: 440px) {
  .travelersForm {
    width: 65%;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 800px) {
  .travelersForm {
    width: 40%;
    font-size: 0.8rem;
    margin-top: -5%;
  }

  .formSection {
    width: 60%;
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (min-width: 1450px) {
  .formSection {
    width: 80%;
    font-size: 0.8rem;
    flex-direction: row;
    align-items: center;
  }

  .removeButton {
    position: absolute;
    bottom: 150px;
    right: 20px;
  }
}

@media screen and (min-width: 1650px) {
  .removeButton {
    position: absolute;
    bottom: 150px;
    right: 80px;
  }
}
