.profileForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 20px auto;
  width: 80%;
  max-width: 500px;
  background-color: hsl(25, 30%, 97%);
  border-style: ridge;
  border-width: 3px;
  border-radius: 4px;
  border-color: hsl(25, 10%, 60%);
}

.profileForm * {
  margin: 2px 0px;
}

.profileForm legend {
  font-size: 1.2rem;
  font-family: 'Josefin Sans';
  font-weight: 500;
  color: hsl(25, 40%, 60%);
}

.profileForm input {
  width: 90%;
  font-size: 1.2rem;
  padding: 5px;
  font-family: 'Josefin Sans';
}

.profileForm button {
  margin: 20px 0px 8px 0px;
  align-self: center;
}

@media screen and (min-width: 700px) {
  .profileForm {
    margin: 20px 10px;
  }
}