@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,500;1,700&family=Playfair+Display:ital,wght@0,400;0,600;0,800;1,400&display=swap');

* {
  /* CSS HSL */
  --color1: rgb(241, 143, 38);
  --color2: rgb(232, 216, 197);
  --color3: rgb(88, 78, 63);
  --color4: rgb(25, 116, 191);
  --color5: rgb(255, 255, 255);

  margin: 0;
  color: var(--color3);
}

html, body {
  height: 100%;
}

form {
  background: white;
  margin: auto;
  border-radius: 5px;
  font-family: 'Playfair Display';
}

button:hover {
  cursor: pointer;
}



