@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,500;0,700;1,100;1,300;1,500;1,700&family=Playfair+Display:ital,wght@0,400;0,600;0,800;1,400&display=swap');

* {
  /* CSS HSL */
  --color1: hsla(118, 17%, 40%, 1);
  --color2: hsla(6, 34%, 44%, 1);
  --color3: hsla(234, 24%, 24%, 1);
  --color4: hsla(240, 6%, 68%, 1);
  --color5: hsla(40, 10%, 95%, 1);

  margin: 0;
}

form {
  background: white;
  margin: auto;
  border-radius: 5px;
  font-family: 'Playfair Display';
}

